.checkdna-container {
    border-radius: 25px;
    padding: 5vh 5vw;
    background-color: white;
    max-width: 1160px;
    margin: 0 auto;
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .checkdna-form {
        display: flex;
        flex-direction: row;
        gap: 100px;
    }
}