.finddna-container {
    border-radius: 25px;
    padding: 5vh 5vw;
    background-color: white;
    max-width: 1160px;
    margin: 0 auto;
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .finddna-result {
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        &-item {
            border: 1px solid #000000;
            border-radius: 5px;
            padding: 5px 10px;
        }
    }

    .message {
        margin-top: 15px;
    }
}