.home-container {
    border-radius: 25px;
    background-color: white;
    padding: 8vh 5vw;
    max-width: 1160px;
    margin: 0 auto;
    margin-top: 80px;

    .text-wrapper {
        .title-wrapper {
            padding: 2.5vh 2vw;
            background: #00688B;
            color: #EDEDED;
            width: fit-content;
            border-radius: 10px;
            margin-bottom: 5px;
        }

        h1 {
            font-size: 2.5em;
            letter-spacing: 0.01em;
            margin-bottom: 2vh;
        }

        p {
            font-size: 1em;
            margin-bottom: 1.2vh;
            letter-spacing: 0.15em;
        }
    }
}