.home-container {
    border-radius: 25px;
    background-color: white;
    padding: 8vh 5vw;
    max-width: 1160px;
    margin: 0 auto;
    margin-top: 80px;

    .text-wrapper {
        h1 {
            font-size: 2.5em;
            letter-spacing: 0.01em;
            margin-bottom: 2vh;
        }

        p {
            font-size: 1em;
            margin-bottom: 1.2vh;
            letter-spacing: 0.15em;
        }

        a {
            font-size: 1.5em;
            margin-bottom: 1.2vh;
            color: #EDEDED;
        }
    }
}